<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--viewport diseño responsive -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>MercadoLiebre</title>
    <!--vincular el CSS con link-->
    <link rel="stylesheet" href="./css/styles.css">
    <!--fontawesome para los iconos archivo .js javascript-->
    <script src="https://kit.fontawesome.com/f7e0d98e38.js" crossorigin="anonymous"></script>
</head>

<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <div class="main-mercadoliebre">
            <a href="/home"><img class="header-logo" src="./images/logo-mercado-liebre.svg" alt=""/></a>
            
            </div>

            <div>
            <input type="search" placeholder="Busca productos, marcas y más..." class="barra-search">
            <button><i class="fa-solid fa-magnifying-glass" class="barra-search"></i></button>
            </div>

            <h3 class="header-title"><i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de crédito</h3>

        </div>

        <nav class="header-lista">
            <ul class="left-navbar">
                <li><a href="#">Oferta</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>

            <ul class="right-navbar">
                <li><a href="./register.html">Creá tu cuenta <i class="fa-solid fa-credit-card"></i></a></li>
                <li><a href="./login.html">Ingresá <i class="fa-solid fa-arrow-right-to-bracket"></i></a></li>
                <li><a href="#">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>
        </nav>

        <a href="#" class="burger-menu"><i class="fa-solid fa-bars"></i></a>
    </header>

    <main class="main-login">
        <div class="form-box">
        <br>
        <div class="username">
            <input type="text" placeholder="Nombre y apellido" class="input">
        </div>

        <div class="password">
            <input type="text" placeholder="Nombre de usuario" class="input">
        </div>

        <div class="password">
            <input type="email" placeholder="Correo electrónico" class="input">
        </div>

        <h3>Fecha de nacimiento</h3>

        <div class="password">
            <input type="date" placeholder="Correo electrónico" class="input">
        </div>

        <div class="password">
            <input type="text" placeholder="Domicilio" class="input">
        </div>

        <h3>Perfil de usuario</h3>

        <form>
        <input type="radio" name="tipo">
        <label>Comprador</label>
        <input type="radio" name="tipo">
        <label>Vendedor</label>
        </form>

        <h3>Intereses</h3>

        <input type="checkbox">Electro

        <input type="checkbox">Moda

        <input type="checkbox">Hogar

        <input type="checkbox">Jugetería

        <input type="checkbox">Vida sana

        <br>

        <br>
        <h3>Introducí tu foto de perfil</h3>

        <input type="file" class="input">

        <br>
        <h3>Contraseña</h3>

        <input type="password" placeholder="Introducí tu contraseña" class="input">

        <br>

        <input type="password" placeholder="Confirmá tu contraseña" class="input">

        <br>

        <br>

        <div class="boton">
        <a href="./home.html"><button class="button">Enviar</button></a>
        </div>

        <div class="boton">
            <a href="./register.html"><button class="button">Reiniciar datos</button></a>
            </div>
        </div>
    </main>

    <footer class="footer">
        <!--El footer deberá tener las siguientes secciones:​-->
        <div class="div-footer-contenedor">
        <section class="section-footer">
            <i class="fa-solid fa-credit-card footer.img"></i>
            <h4>Pagá con tarjeta o efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section class="section-footer">
            <i class="fa-sharp fa-solid fa-gift footer.img"></i>
            <h4>Envío gratis desde $ 2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section class="section-footer">
            <i class="fa-solid fa-user-shield footer.img"></i>
            <h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </section>
        </div>
        <section class="copy-footer-login">
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>  
         
    </footer>
</body>

</html>
